.header-search {
    cursor: pointer;
    border: 1px solid red;
}

.header-search__searchfield {
    height: 42px;
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    background-color: #32425C;
    border: none;
    outline: none;
    padding: 9px;

    &:focus {
        background-color: #ffffff;
        color: #000;
    }

    &::placeholder {
        color: #ffffff;
        background: url();
    }
}