.header-top {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 18px;    
}

.header-top__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
}

.header-top__link {
    text-decoration: none;
    transition: .1s;

    &:hover .header-top__icon {
        color: #ffffff;
    }
}

.header-top__icon {
    color: #B7BFC8;
    position: relative;
    top: 2px;
}