.user-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    line-height: 24px;
    padding: 9px 20px;
    text-decoration: none;
    transition: .2s;

    @include tablet {
        padding: 11.5px 18px;
        justify-content: center;
    }

    @include mobile {
        font-size: 14px;
        padding: 9px 9px;
    }

    &:active {
        opacity: 30%;
        background-color: #161D29;
    }

    &--success {
        background-color: #63A63E;
        padding: 9px 18px;

        @include tablet {
            padding: 11.5px 18px;
        }

        @include mobile {
            padding: 9px 9px;
        }

        &:hover {
            background-color: #5FBB2D;
        }

        &:active {
            background-color: #63A63E;
            color: #B1D39F;
        }
    }

    &:hover .user-link__icon {
        opacity: 100%;
    }

    &:active .user-link__icon {
        opacity: 30%;
    }
}

.user-link__icon {
    opacity: 30%;
    transition: .2s;
}